.show{
    display: flex;
}

.more{
    text-align: center;
    width: 100px;
    height: 30px;
    background: #2F7AF4;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    margin: 25px 60%;
    cursor: pointer;
}

.show > div{
    margin: 20px 20px 20px 20px;
}

.title{
    font-family: '맑은 고딕';
    font-size: 20px;
    font-weight: 900;
}

.box{
    width: 10px;
    height: 80px;
}

.body1{
    
    font-family: '맑은 고딕';
    font-size: 15px;
    font-weight: 500;
}